include CHANGES.md
include COMMITMENT
exclude CONTRIBUTING.md
include COPYRIGHT
include LICENSE
include functest_requirements.txt
include requirements.txt
include unittest_requirements.txt
include pulp_npm/app/webserver_snippets/*
exclude releasing.md
