include CHANGES.rst
include COMMITMENT
include COPYRIGHT
include LICENSE
include functest_requirements.txt
include requirements.txt
include unittest_requirements.txt
include pulp_npm/app/webserver_snippets/*
